@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    JoinCar - application created as Web Application Technologies 
    project at AGH University of Science and Technology in Krakow, Poland.<br/>
</p>
