@{
    ViewBag.Title = "Contact";
}

<h2>Contact with authors</h2>

<h3>Renata Domagalska</h3>
<address>
    renata.domagalska94@gmail.com<br />
    <a href="https://pl.linkedin.com/in/renata-domagalska-b1b25992">LinkedIn</a><br />
</address>

<h3>Pulina Żak</h3>
<address>
    paulina.zak1@gmail.com<br />
    <a href="https://pl.linkedin.com/in/paulinazak">LinkedIn</a><br />
</address>

<address>
    <strong>Project repository:</strong> <a href="https://github.com/renatadomagalska/JoinCar">GitHub JoinCar</a>
</address>