@model IEnumerable<JoinCar.Database.Entities.ApplicationUser>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nick)
        </th>
        <th>
            Name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName + " " + item.LastName)
        </td>
    </tr>

}

</table>
