@model IEnumerable<JoinCar.Database.Entities.ApplicationUser>

@{
    if (!Model.Any())
    {
        <h4>No passengers. Be first to JoinCar!</h4>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nick)
                </th>
                <th>
                    Name
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nick)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                </tr>
            }
        </table>
    }
}


