<p>
    <h3>Search</h3>
    From: <input type="text" name="SearchStringFrom">
    To: <input type="text" name="SearchStringTo">
    Dates range: <input type="date" name="SearchStartDate"> - <input type="date" name="SearchEndDate">
    <input type="submit" value="Filter" class="btn btn-default" />
</p>
