<p>
    <h3>Search</h3>
    From: <input type="text" name="SearchStringFrom" border-width="0,0,1,0" class="textbox">
    To: <input type="text" name="SearchStringTo" class="textbox">
    Dates range: <input type="date" name="SearchStartDate" class="textbox"> - <input type="date" name="SearchEndDate" class="textbox">
    <input type="submit" value="Filter" class="btn btn-default" />
</p>
