@using Microsoft.AspNet.Identity
@model IEnumerable<JoinCar.Database.Entities.Trip>

@{
    ViewBag.Title = "Index";
}

<h2>Available trips</h2>
<form asp-controller="Trips" asp-action="Index">
    @Html.Partial("_SearchTrip")
</form>

@Html.Partial("_TripsTable", Model)

<p>
    @Html.ActionLink("Create New", "Create")
</p>
