@using JoinCar.Database.Entities
@model IEnumerable<object>
@{
    List<Trip> userTripsList = Model.ToList()[0] as List<Trip>;
    List<Opinion> userReceivedOpinions = Model.ToList()[1] as List<Opinion>;
    List<Opinion> userIssuedOpinions = Model.ToList()[2] as List<Opinion>;
}
@{
    ViewBag.Title = "My Trips";
}

<h2>My trips</h2>
@Html.Partial("_TripsTable", userTripsList)

<h2>Received opinions</h2>
@Html.Partial("_OpinionsTable", userReceivedOpinions)

<h2>Issued opinions</h2>
@Html.Partial("_OpinionsTable", userIssuedOpinions)


